<a href="https://colab.research.google.com/github/MIKRAMS1984/Day_26-Animated-and-Interactive-plots-in-Python_plotly/blob/main/Copy_of_M_Ikram_Shahzad_Python_Basics_Assignment_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“ Assignment: Python Basics Practice

Each task below aligns with the examples covered in the lecture. Complete each task in the provided cell.

### âœ… Task 1: Indentation Check
Write a Python script that checks if a number is positive. If yes, print:
- `"This is a positive number"`
- Print `"Check complete"` three times using a loop.

In [ ]:
number = int(input("Enter a number: "))
if number > 0:
    print("This is a positive number")
    for i in range(3):
        print("Check complete")

Enter a number: 5
This is a positive number
Check complete
Check complete
Check complete

### âœ… Task 2: Simple Print Statements
Print the following using separate print statements:
- `"Learning Python!"`
- Your favorite number
- Your height in meters

In [ ]:
print("Learning Python!")
print("Favorite Number = ", 10)
print("Height in Meters = ", 1.752, "Meters")

Learning Python!
Favorite Number =  10
Height in Meters =  1.752 Meters

### âœ… Task 3: Combine Variables in Print
Create two variables:
- `city` with your city name
- `year` with the current year
Now print:
`"I live in [city] and the year is [year]."`

In [ ]:
City = "Islamabad"
Year = 2025
print(f"I live in {City} and the year is {Year}.")

I live in Islamabad and the year is 2025.

### âœ… Task 4: Add Comments
Write a short Python script that:
- Contains a single-line comment
- Includes a multi-line comment describing the script
- Then prints `"Comment demo done"`

In [ ]:
# This is a single-line comment

"""
This is a multi-line comment.
This script demonstrates the use of single-line and multi-line comments in Python.
It will print a message to the console.
"""

print("Comment demo done")

Comment demo done

### âœ… Task 5: Float Variable
Assign the value `9.81` to a variable named `gravity`. Print the value and its type.

In [ ]:
gravity = 9.81
print(gravity)
print(type(gravity))
print("Gravity VAlue = ", gravity, type(gravity))

9.81
<class 'float'>
Gravity VAlue =  9.81 <class 'float'>

### âœ… Task 6: String Variable
Create a variable `language = "Python"` Print its value and type.

In [ ]:
language = "Python"
print(language)
print(type(language))
print("Language = ", language, type(language))

Python
<class 'str'>
Language =  Python <class 'str'>

### âœ… Task 7: Boolean Variable
Set a variable `is_coding_fun = True` Print its value and type.

In [ ]:
is_coding_fun = True
print(is_coding_fun)
print(type(is_coding_fun))
print("Is Coding Fun = ", is_coding_fun, type(is_coding_fun))

True
<class 'bool'>
Is Coding Fun =  True <class 'bool'>

### âœ… Task 8: None Type
Create a variable `response = None` Print the variable and its type.

In [ ]:
response = None
print(response)
print(type(response))
print("Response = ", response, type(response))

None
<class 'NoneType'>
Response =  None <class 'NoneType'>

### âœ… Task 9: Arithmetic Practice
Create two variables `x = 8`, `y = 3`
Print the result of all these operations:
- Addition
- Subtraction
- Multiplication
- Division
- Modulus
- Floor division
- Exponentiation

In [ ]:
x = 8
y = 3
print("Addition =       ", x + y)
print("Subtraction =    ", x - y)
print("Multiplication = ", x * y)
print("Division =        {:.2f}".format(x / y))
print("Modulus =        ", x % y)
print("Floor Division = ", x // y)
print("Exponentiation = ", x ** y)

Addition =        11
Subtraction =     5
Multiplication =  24
Division =        2.67
Modulus =         2
Floor Division =  2
Exponentiation =  512

### âœ… Task 10: Comparison Operators
Set two variables `a = 15`, `b = 10`
Print the results for:
- `a == b`
- `a != b`
- `a > b`
- `a < b`
- `a >= b`
- `b <= a`
Also compare two strings `"cat"` and `"dog"` using `>` and `<`.

In [ ]:
a = 15
b = 10
print("a == b = ", a == b)
print("a != b = ", a != b)
print("a > b  = ", a > b)
print("a < b  = ", a < b)
print("a >= b = ", a >= b)

a == b =  False
a != b =  True
a > b  =  True
a < b  =  False
a >= b =  True

### âœ… Task 11: Type Conversion
Convert the integer `num = 10` into a float and a string.
Print both converted values and their types.

In [ ]:
num = 10
float_num = float(num)
string_num = str(num)
print("Integer Value = ", num, type(num))
print("Float Value   = ", float_num, type(float_num))
print("String Value  = ", string_num, type(string_num))

Integer Value =  10 <class 'int'>
Float Value   =  10.0 <class 'float'>
String Value  =  10 <class 'str'>

### âœ… Task 12: User Input
Write a program that asks the user to enter their favorite color and number.
Print a sentence like: `"Your favorite color is blue and your number is 7"`.

In [ ]:
color = input("Enter your favorite color: ")
number = input("Enter your favorite number: ")
print(f"Your favorite color is {color} and your number is {number}.")

Enter your favorite color: Black
Enter your favorite number: 1
Your favorite color is Black and your number is 1.

### âœ… Task 13: String Operations
Set a variable `text = "Python Programming"`
Perform and print the results for:
- Converting to uppercase
- Converting to lowercase
- Replacing "Python" with "Java"
- Slicing to get the word "Programming"

In [ ]:
text = "Python Programming"
print(text)
print(text.upper())
print(text.lower())
print(text.replace("Python", "Java"))
print(text[7:])

Python Programming
PYTHON PROGRAMMING
python programming
Java Programming
Programming

### âœ… Task 14: String Formatting
Create variables `name = "Ali"` and `score = 95`
Print a formatted string like: `"Ali scored 95 marks"` using f-string.

In [ ]:
name = "Ali"
score = 95
print(f"{name} scored {score} marks.")

Ali scored 95 marks.

### âœ… Task 15: Escape Characters
Print the sentence:
`She said, "Python is awesome!"` on one line.
Then print a two-line output:
`Line 1`
`Line 2` using `\n`.

In [ ]:
print('She said", "Python is awesome!')
print("She said \nPython is awesome!")

She said", "Python is awesome!
She said
Python is awesome!

### âœ… Task 16: String Length and Membership
Set `word = "HelloWorld"`
Print the length of the string.
Check if "World" is in the word, and print the result.

In [ ]:
word = "HelloWorld"
print('String Length: ', len(word))
print("World" in word)

String Length:  10
True